/* ============ الأساسيات ============ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: roundedArial;
  src: url(../assets/fonts/VarelaRound-Regular.ttf);
}
@font-face {
  font-family: somar;
  src: url(../assets/fonts/Somar-Light.otf),
    url(../assets/fonts/Somar-SemiBold.otf);
}

body {
  font-family: roundedArial, somar, sans-serif;
}

/* ============ الألوان الرئيسية ============ */
:root {
  --bs-primary: #822a21;
  --bs-secondary: #1c5d87;
  /* #822A21 main | #309698 secondary | #144768 third */
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}
.bg-primary {
  background-color: var(--bs-primary) !important;
}
.text-primary {
  color: var(--bs-primary) !important;
}
.text-secondary {
  color: var(--bs-secondary) !important;
}
.border-primary {
  border-color: var(--bs-primary) !important;
}

.form-control:focus {
  border-color: var(--bs-primary) !important;
  box-shadow: 0 0 0 0.25rem #822b2128;
}

/* ============ الهيدر ============ */
.navbar-brand img {
  width: 180px;
}

/* ============ الـ Hero / الكاروسيل ============ */
.hero-section .carousel-item {
  height: 500px;
  overflow: hidden;
  border-radius: 50px;
  position: relative;
}
.hero-section .carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-image: linear-gradient(
    rgba(218, 23, 23, 0.4),
    rgba(29, 7, 128, 0.3)
  );
  border-radius: 50px;
}
.hero-section .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 2;
  border-radius: 50px;
}
.hero-section .carousel-indicators {
  z-index: 100;
}
.hero-section .carousel-indicators [data-bs-target] {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.hero-section .start-journey:hover {
  background-color: #eee;
}

/* ============ حملات المشاريع ============ */
.section-campaign .line-campaign {
  height: 4px;
  width: 3rem;
  border-radius: 10px;
  background-color: var(--bs-secondary);
  margin: 1rem auto;
}
.campaign-heart {
  right: 2%;
  top: 2%;
  cursor: pointer;
}
.line-process {
  width: 100%;
  height: 6px;
  background-color: #eee;
}
.process {
  width: 25%;
  height: 100%;
  background-color: var(--bs-primary);
  border-start-start-radius: 8px;
}
.btn-campaign:hover {
  background-color: #a0190ae3 !important;
}

/* ============ مراحل عمل تشاركي ============ */
.content-steps {
  background-image: url(../assets/images/single_logo_bg.webp);
  object-fit: contain;
}

/* ============ الإحصائيات ============ */
.statistics {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.788),
      rgba(14, 5, 54, 0.897)
    ),
    url(https://www.tasharuky.com/images/statistics.jpg);
  font-family: roundedArial, somar, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.statistics .container .counters {
  padding: 40px;
}
.statistics .counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px 0;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.statistics .counter img {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
  border-radius: 20px;
  filter: invert(100%);
}
.statistics .counter span,
.statistics .counter p {
  font-size: 24px;
  font-weight: bold;
}
.statistics .counter:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* ============ لماذا تشاركي؟ ============ */
.why-tasharuky {
  background-color: #f3f4f5;
  position: relative;
}
.why-tasharuky .section-head h2 {
  font-size: 40px;
  font-weight: 900;
}
.why-tasharuky .counters {
  padding: 40px;
}
.why-tasharuky .counter {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.why-tasharuky .counter img {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
  border-radius: 20px;
}
.why-tasharuky .counter h3 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
  transition: color 0.3s;
}
.why-tasharuky .counter:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.why-tasharuky .counter:hover h3 {
  color: var(--bs-primary) !important;
}

/* ============ شركاؤنا ============ */
.partners .card {
  border: none;
  text-align: center;
}
.partners .card-img-top {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: contain;
}
.partners .carousel-control-prev-icon,
.partners .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.77);
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
@media (min-width: 767px) {
  .partners .carousel-control-prev,
  .partners .carousel-control-next {
    width: 4%;
  }
}

/* ============ الفوتر ============ */
.footer {
  background-color: #202027;
  font-family: roundedArial, somar, sans-serif;
  color: #bcbcbc;
}
.footer p {
  font-size: 15px;
}
.footer a {
  color: #bcbcbc;
  text-decoration: none;
  font-size: 25px;
}
.footer .subscribe input {
  border: none;
  background-color: #202027;
  border-bottom: 1px solid #bcbcbc;
  color: #bcbcbc;
  font-size: 20px;
  width: 100%;
}
.footer .subscribe button {
  border: none;
  background-color: #202027;
  color: #bcbcbc;
  font-size: 15px;
}

/* ============ ميديا كويري ============ */
@media (max-width: 576px) {
  .navbar-brand img {
    width: 120px;
  }
  .register-login a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 22px !important;
  }
}
@media (max-width: 768px) {
  .col-carousel {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .navbar-brand img {
    width: 170px;
  }
  .navbar-nav .nav-link,
  .register-login a {
    font-size: 22px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: roundedArial;
  src: url(../assets/fonts/VarelaRound-Regular.ttf);
}

@font-face {
  font-family: somar;
  src: url(../assets/fonts/Somar-Light.otf),
    url(../assets/fonts/Somar-SemiBold.otf);
}

body {
  font-family: roundedArial, somar, sans-serif;
}

/* change primary color for bootstrap  */

:root {
  --bs-primary: #822a21;
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}

/* 

#822A21 main color

#309698 secondary color

#144768 third color

*/

/* <!-- ---------------- statistics 5 ---------------- --- --> */

.statistics {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.788),
      rgba(14, 5, 54, 0.897)
    ),
    url(https://www.tasharuky.com/images/statistics.jpg);
  font-family: roundedArial, somar, sans-serif;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.statistics .container .counters {
  padding: 40px;
}
.statistics .container .counters .counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px 0;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}

.statistics .container .counters .counter img {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
  border-radius: 20px;
  box-sizing: border-box;
  filter: invert(100%);
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}

.statistics .container .counters .counter span {
  font-size: 24px;
  /* line-height: 50px; */
  font-weight: bold;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}

.statistics .container .counters .counter p {
  font-size: 24px;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}

.statistics .container .counters .counter:hover {
  transform: scale(1.2);
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
  cursor: pointer;
}

/* <!-- ---------------- لماذا تشاركي   ؟ 6 ---------------- --- --> */

.why-tasharuky {
  background-color: #f3f4f5;
  position: relative;
}

.why-tasharuky .container .section-head h2 {
  font-size: 40px;
  font-weight: 900;
}
.why-tasharuky .container .counters {
  padding: 40px;
}

.why-tasharuky .container .counters .counter {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-tasharuky .container .counters .counter img {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
  border-radius: 20px;
  box-sizing: border-box;
}

.why-tasharuky .container .counters .counter h3 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}
.why-tasharuky .container .counters .counter:hover {
  transform: scale(1.1);
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
  cursor: pointer;
  h3 {
    color: var(--bs-primary) !important;
  }
}

/* ----------------------------- شركائنا --------------------------- */

.partners .card {
  border: none;
  text-align: center;
}
.partners .card-img-top {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: contain;
}

.partners {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.77); /* لون خلفية لتظهر بوضوح */
    /* border-radius: 50%; */
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  @media (min-width: 767px) {
    .carousel-control-prev,
    .carousel-control-next {
      width: 4%;
    }
  }
}

/* -------------------- footer ------------------ */

.footer {
  background-color: #202027;
  font-family: roundedArial, somar, sans-serif;
  color: #bcbcbc;

  p {
    font-size: 15px;
  }
  a {
    color: #bcbcbc;
    text-decoration: none;
    font-size: 25px;
  }
  .subscribe {
    input {
      border: none;
      background-color: #202027;
      border-bottom: 1px solid #bcbcbc;
      color: #bcbcbc;
      font-size: 20px;
      width: 100%;
    }
    button {
      border: none;
      background-color: #202027;
      color: #bcbcbc;
      font-size: 15px;
    }
  }
}

/* ---------------------------- signup ------------------- */

.signup-main {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 34, 100, 0.838),
      rgba(58, 5, 5, 0.838)
    ),
    url(https://www.tasharuky.com/images/signup.jpg);
  a {
    text-decoration: none;
  }
}
