*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    @font-face {
        font-family: roundedArial;
        src: url(../assets/fonts/VarelaRound-Regular.ttf);
    }

    @font-face {
        font-family: somar;
        src: url(../assets/fonts/Somar-Light.otf),url(../assets/fonts/Somar-SemiBold.otf);
    }


body{
    font-family: roundedArial,somar,sans-serif; 
}

/* change primary color for bootstrap  */

:root{
    --bs-primary: #822A21; 
    --bs-secondary: #1c5d87;
}

.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
  }
.bg-primary {
  background-color: var(--bs-primary) !important;
}

  .text-primary {
    color: var(--bs-primary) !important;
  }
.text-secondary {
  color: var(--bs-secondary) !important;
}

.border-primary{
    border-color: var(--bs-primary) !important;
}

/* 

#822A21 main color

#309698 secondary color

#144768 third color

*/

/* =============== start header ================= */

.navbar-brand img {
  width: 180px;
}

.form-control:focus {
  border-color: var(--bs-primary) !important;
  box-shadow: 0 0 0 0.25rem #822b2128;
}

/* =============== end header ================= */

/* =============== start hero ================= */

.start-journey:hover {
  background-color: #eee;
}

.carousel-item {
  height: 500px;
  overflow: hidden;
  border-radius: 50px;
}

.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-image: linear-gradient(
    rgba(218, 23, 23, 0.4),
    rgba(29, 7, 128, 0.3)
  );
  border-radius: 50px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 2;
  border-radius: 50px;
}
.carousel-indicators {
  z-index: 100;
}
.carousel-indicators [data-bs-target] {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* =============== end hero ================= */

/* =============== start campaign ================= */

.section-campaign .line-campaign {
  height: 4px;
  width: 3rem;
  border-radius: 10px;
  background-color: #1c5d87;
  margin: 1rem auto;
}

.campaign-heart {

    right: 2%;
    top: 2%;
    cursor: pointer;
}

.line-process {
  width: 100%;
  height: 6px;
  background-color: #eee;
}
.process {
    width: 25%;
    height: 100%;
    background-color: var(--bs-primary);
    border-start-start-radius: 8px;
}

.btn-campaign:hover {
  background-color: #a0190ae3 !important;
}

/* =============== end campaign ================= */



/* =============== مراحل عمل تشاركي  ================= */

.content-steps {
    background-image: url(../assets/images/single_logo_bg.webp);
    object-fit: contain;
}

/* =============== مراحل عمل تشاركي  ================= */






/* ================ media query =============== */

@media (max-width: 576px) {
  .navbar-brand img {
    width: 120px;
  }
  .register-login a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 22px !important;
  }
}
@media (max-width: 768px) {
  .col-carousel {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1100px) {
  .navbar-brand img {
    width: 170px;
  }

  .navbar-nav .nav-link {
    font-size: 22px !important;
  }
  .register-login a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    font-size: 22px !important;
  }
}

/* ================ media query =============== */
